* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  height: 100vh;
}

header {
  position: absolute;
  background: #fff;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  background: #ccc;
}

.logo img {
  width: 100px;
}

#demoVid {
  position: fixed;
  z-index: 0;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);  
}